.board {
  width: 320px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  color: #ffff;
  border-radius: 20px;
  background-color: rgb(69, 69, 69);
  display: flex;
  align-items: center;
  justify-content: center;
}
