.board {
  width: 320px;
  height: 80px;
  font-size: 20px;
  text-align: center;
  color: #000000;
  border-radius: 20px;
  background-color: rgb(226, 247, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
