.item {
  position: relative;
  margin-bottom: 14px;
  font-size: 15px;
  height: 27px;
  line-height: 27px;
  label {
    display: inline-block;
    width: 85px;
    height: inherit;
  }
  span {
    margin-right: 5px;
  }
  input {
    background-color: transparent;
    border: 1px solid rgb(209, 209, 209);
    &::placeholder {
      font-size: 16px;
      text-align: center;
    }
  }
}

.content {
  display: inline-block;
  width: calc(100% - 90px - 16px - 14px);
  height: inherit;
  font-size: inherit;
  font-family: inherit;
}
