.item {
  position: relative;
  margin-bottom: 16px;
  font-size: 18px;
  height: 27px;
  line-height: 27px;
  label {
    display: inline-block;
    width: 80px;
    height: inherit;
  }
  span {
    margin-right: 5px;
  }
  input {
    background-color: transparent;

    border: 1px solid rgb(209, 209, 209);
    &::placeholder {
      font-size: 16px;
    }
  }
}

.content {
  width: calc(100% - 85px - 16px - 14px);
  height: inherit;
  font-size: inherit;
  font-family: inherit;
  padding-left: 12px;
}
