@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Playpen+Sans&display=swap");

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 32px;
  font-family: "Gamja Flower", "Playpen Sans", sans-serif, cursive;
  button {
    font-family: inherit;
  }
}

@media screen and (max-width: 320px) {
  .App {
    width: 320px;
  }
}
@media screen and (min-width: 320px) {
  .App {
    width: 100vw;
  }
}
@media screen and (min-width: 400px) {
  .App {
    width: 400px;
  }
}
